azure.mgmt.resource==21.2.1
azure-mgmt-compute
azure-mgmt-network
azure-identity
azure-mgmt-extendedlocation
azure.mgmt.network
pyfiglet
colorama



urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
